@import 'base/functions';

@import 'base/mixins/selectors';

@import 'base/normalize';

@import 'base/imagehelper';

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.42;
}
