extends _layout.pug

block head_link
  link(rel="stylesheet", href="./build/css/lv-translucent-borders.css")

block content
  div.lv-translucent-borders Can I haz semi-transparent borders? Pretty please?
